[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inflect = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
wikipedia = "*"
stemming = "*"
num2words = "*"
joblib = "*"
psutil = "*"
e1839a8 = {editable = true,path = "."}

[dev-packages]
yapf = "*"
autopep8 = "*"
coverage = "*"
pymagnitude = "*"

[requires]
python_version = "3.7"
