[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inflect = "*"
stemming = "*"
wikipedia = "*"
coveralls = "*"
coverage = "*"

[dev-packages]
scipy = "*"
numpy = "*"
scikit-learn = "*"

[requires]
python_version = "3.6"
